@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --num-rows-and-columns: repeat(4, 1fr);
}

* {
    box-sizing: border-box;
}

/* Page styles ---------------------------- */

body,
button {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

main {
    padding: 25px 0 0 0;

    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: auto 300px 1fr; 
    align-items: center;
}

.main-heading {
    width: 100%;
    margin: 0;
}

.sub-heading {
    width: 100%;
    margin-top: .4em;
}

#map-wrapper {
    width: 100%;
    height: 100%;
}

#map {
    padding: 0;
    width: 100%;
    height: 100%;
    border: solid 4px black;
}

#stats-dpad {
    width: 100%;
    margin: 20px auto;
    padding-top: 20px;
    border-top: 3px solid lightgray;
    color: darkslategray;
    line-height: 2em;
    font-size: 1.5em;

    display: flex;
    justify-content: space-between;
}

#player-meters,
#dpad-wrapper,
#turn-counter {
    flex: 1;
}

#player-meters {
    padding: 0;
    margin: 0;
    list-style: none;
}

#player-meters li img {
    vertical-align: middle;
    height: 1.5em;
}

#dpad {
    height: 170px;
    width: 170px;
}

#turn-counter {
    text-align: right;
}

#turn-counter p {
    margin: 0;
}

/* Map styles ---------------------------- */

#map {
    display: grid;
    grid-template-columns: var(--num-rows-and-columns);
    grid-template-rows: var(--num-rows-and-columns);
}

#map div,
.preview div {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    margin: 0;
    padding: 0;
    transition: .1s;
}

.plains {
    background-color: #B0ED38;
}

.forest {
    background-color: #41B30C;
}

.desert {
    background-color: #EED869;
}

.mountain {
    background-color: #CFCCBC;
}

.water {
    background-color: #66B2EF;
}

#map div img,
.preview div img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

/* Action prompt ---------------------------- */

#map-wrapper {
    position: relative;
}

#action-prompt-modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
}

#action-prompt-box {
    width: 70%;
    margin: 10% auto;
    height: 80%;
    padding: 10px;
    border: 3px solid black;
    background-color: lightgrey;
    border-radius: 5px;
    font-size: 1.5em;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
}

#action-prompt-heading {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
}

#action-prompt-heading h3 {
    margin: 10px;
}

#close-action-prompt {
    font-size: 50px;
    font-weight: bold;
}

#action-prompt-box label {
    max-height: 100%;
    max-width: 100%;
}

#action-prompt-box label img {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}

#action-prompt-box button {
    height: 100%;
    width: 100%;
    background-color: white;
    border: solid black 3px;
    border-radius: 5px;
    font-size: 40px;
}

.btn-wrapper {
    height: 90%;
    width: 90%;
    position: relative;
    overflow: hidden;
}

.preview-drawer,
.loot-drawer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    left: 0;
    transform: translateX(100%);
    transition: transform .3s ease-out;
    background-color: rgb(231, 231, 231);
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;

    font-size: 2em;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.preview-back-btn,
.loot-back-btn {
    object-fit: contain;
    max-height: 100%;
    flex: 1;
}

.preview {
    width: 100%;
    height: 100%;
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.preview .player {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.preview div:hover {
    border: solid 3px darkred;
    cursor: pointer;
}

#sleep-hr {
    height: 100%;
    width: 100%;
    flex: 2;
    margin: 5px;
    font-size: 1em;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
}

/* Dpad styles ---------------------------- */

#dpad {
    background-color: lightgrey;
    border-radius: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#dpad-up {
    grid-column: 2 / 3;
    transform: rotate(270deg);
}

#dpad-left {
    grid-row: 2 / 3;
    transform: rotate(180deg);
}

#action-button {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: black;
    border: solid 8px black;
    border-radius: 100%;
    overflow: hidden;
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
}

#dpad-right {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

#dpad-down {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    transform: rotate(90deg);
}

#dpad div img {
    display: block;
    margin: auto;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

/* Pseudoclasses ---------------------------- */

.interactable {
    opacity: 0.6;
}

.interactable:hover {
    opacity: 1;
    cursor: pointer;
}

.interactable:active {
    opacity: 0.2;
}

/* Media Queries ---------------------------- */

@media (min-width: 600px) {
    main {
        grid-template-columns: 500px;
        grid-template-rows: auto 500px 1fr; 
    }
}

@media (min-width: 800px) {
    main {
        grid-template-columns: 500px 1fr;
        grid-template-rows: 1fr 500px; 
    }

    #map-wrapper,
    #stats-dpad {
        grid-row: 2 / 3;
    }

    #stats-dpad {
        height: 100%;
        border-top: none;
        border-left: 3px solid lightgray;
        padding: 20px 0 20px 40px;
        margin-left: 20px;
        text-align: left;

        flex-direction: column-reverse;
    }

    #dpad-wrapper {
        flex: 1;
        margin: 20px;
    }

    #dpad {
        width: 200px;
        height: 200px;
    }

    #action-button {
        font-weight: 800;
        font-size: 1.3em;
        border-width: 11px;
    }

    #turn-counter {
        text-align: left;
    }
}

@media (min-width: 1150px) {
    main {
        grid-template-columns: 700px 1fr;
        grid-template-rows: 1fr 700px; 
    }

    #stats-dpad {
        font-size: 2em;
    }

    #dpad {
        width: 300px;
        height: 300px;
    }

    #action-button {
        font-weight: 900;
        font-size: 1.9em;
        border-width: 14px;
    }
}