@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --cell-height: 4px;
    --cell-width: 4px;
}

* {
    box-sizing: border-box;
}

#map {
    table-layout: fixed;
    border-spacing: 0;
    margin: 0 auto;
    padding: 0;
    width: 800px;
    height: 800px;
    border: solid 4px black;
}

#map td {
    text-align: center;
    vertical-align: center;
    overflow: hidden;
    line-height: 0;
    border: none;
    margin: 0;
    padding: 0;
    width: var(--cell-width);
    height: var(--cell-height);
}

td img {
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}