@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --num-rows-and-columns: repeat(4, 1fr);
}

* {
    box-sizing: border-box;
}

/* Page styles ---------------------------- */

body,
button {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

main {
    padding: 25px 0 0 0;

    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: auto 300px 1fr; 
    align-items: center;
}

#headings {
    font-size: .8em;
}

#main-heading {
    width: 100%;
    margin: 0;
}

#sub-heading {
    width: 100%;
    margin: .4em 0;
}

#hide-headings {
    display: block;
    background-color: lightgrey;
    color: black;
    font-weight: bold;
    border: solid 1px black;
    border-radius: 5px;
    padding: 4px;
    margin: 5px auto;
}

#hide-headings:active,
#hide-headings:focus {
    outline: 0;
}

#map-wrapper {
    width: 100%;
    height: 100%;
}

#map {
    padding: 0;
    width: 100%;
    height: 100%;
    border: solid 4px black;
}

#stats-dpad {
    width: 100%;
    margin: 20px auto;
    padding-top: 20px;
    border-top: 3px solid lightgray;
    color: darkslategray;
    line-height: 1.5em;
    font-size: 1em;

    display: flex;
    justify-content: space-between;
}

#player-meters,
#dpad-wrapper,
#turn-counter {
    flex: 1;
}

#player-meters {
    padding: 0;
    margin: 0;
    list-style: none;
}

#player-meters li img {
    vertical-align: middle;
    height: 1.5em;
}

#dpad {
    height: 170px;
    width: 170px;
}

#turn-counter {
    text-align: right;
}

#turn-counter p {
    margin: 0;
}

/* Utility classes ---------------------------- */


.fit-img,           /* imgs in map and preview cannot be given .fit-img or it will interfere with js */
#map div img,
.preview div img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.interactable {
    opacity: 0.6;
}

.interactable:hover,
.interactable:focus {
    opacity: 1;
    cursor: pointer;
}

.interactable:active {
    opacity: 0.2;
}

/* Map styles ---------------------------- */

#map {
    display: grid;
    grid-template-columns: var(--num-rows-and-columns);
    grid-template-rows: var(--num-rows-and-columns);
}

#map div,
.preview div {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    transition: .1s;
}

.plains {
    background-color: #B0ED38;
}

.forest {
    background-color: #41B30C;
}

.desert {
    background-color: #EED869;
}

.mountain {
    background-color: #CFCCBC;
}

.water {
    background-color: #66B2EF;
}

/* Action prompt ---------------------------- */

#map-wrapper {
    position: relative;
}

#action-prompt-modal,
#action-prompt-box label,
#action-prompt-box button,
.preview-drawer,
.preview,
.loot-drawer,
#death-screen,
#night-overlay {
    height: 100%;
    width: 100%;
}

#action-prompt-modal,
#death-screen,
#night-overlay {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}

#action-prompt-modal {
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 2;
}

#action-prompt-box {
    width: 90%;
    margin: 5% auto;
    height: 90%;
    padding: 4px;
    border: 3px solid black;
    background-color: lightgrey;
    border-radius: 5px;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 25px repeat(3, auto);
}

#action-prompt-heading {
    line-height: 0;
    height: auto;
    padding: 0 5px;
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
}

#action-prompt-heading {
    margin-left: 5px;
}

#close-action-prompt {
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

#action-prompt-box button {
    font-size: 1em;
    background-color: white;
    border: solid black 3px;
    border-radius: 5px;
}

.btn-wrapper {
    height: 90%;
    width: 90%;
    position: relative;
    overflow: hidden;
}

.preview-drawer,
.loot-drawer {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: transform .3s ease-out;
    background-color: rgb(231, 231, 231);
    padding: 3px;
    border: 3px solid black;
    border-radius: 5px;

    font-size: .8em;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.results p {
    padding: 0;
    margin: 0;
}

.results ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: auto;

    display: flex;
    flex-wrap: wrap;
}

.results li {
    height: 28px;
    width: 28px;
    margin: 2px;
    border: solid black 2px;
    border-radius: 5px;
    position: relative;
}

.results img {
    position: absolute;
}

.results .quantity {
    background-color: lightgrey;
    border-radius: 100%;
    color: darkred;
    font-size: .8em;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
}

.preview-back-btn,
.loot-back-btn {
    transform: rotate(180deg);
    max-width: 20%;
}

.preview {
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.preview .player {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.preview div:hover {
    border: solid 3px darkred;
    cursor: pointer;
}

#sleep-hr {
    height: 80%;
    width: 20%;
    margin: 5px;
    font-size: 1em;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
}

#submit-sleep {
    max-width: 20%;
}

/* Tooltips ---------------------------- */

.tooltips {
    display: inline;
}

.tooltips span {
    position: absolute;
    width: 100px;
    color: #FFFFFF;
    background: #000000;
    height: auto;
    width: auto;
    text-align: center;
    visibility: hidden;
    border-radius: 5px;
    padding: 2px;
    font-size: .8em;
}

.tooltips:hover span {
    visibility: visible;
    opacity: 0.8;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
}

/* Other overlays ---------------------------- */

@keyframes pulse-opacity {
    0% {opacity: 0.1;}
    50% {opacity: 0.8;}
    100% {opacity: 0.1;}
}

#sleep-timer {
    display: none;
    position: absolute;
    top: 50%; left: 50%;
    width: 70%; height: 70%;
    transform: translate(-50%, -50%);
    animation-name: pulse-opacity;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#night-overlay,
#death-screen {
    opacity: 0;
    transition: opacity 3s;
}

#night-overlay {
    background-color: rgb(48, 59, 94);
}

#death-screen {
    justify-content: center;
    align-items: center;
    background-color: darkred;
    font-size: 3em;
    color: white;
    text-align: center;
    padding: auto 0;
}

/* Dpad styles ---------------------------- */

#dpad {
    background-color: lightgrey;
    border-radius: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#dpad-up {
    grid-column: 2 / 3;
    transform: rotate(270deg);
}

#dpad-left {
    grid-row: 2 / 3;
    transform: rotate(180deg);
}

#action-button {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: black;
    border: solid 8px black;
    border-radius: 100%;
    overflow: hidden;
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
}

#dpad-right {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

#dpad-down {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    transform: rotate(90deg);
}

#dpad div img {
    display: block;
    margin: auto;
}

/* Footer ---------------------------- */
footer {
    background-color: #949292;
    position: fixed;
    left: 0; bottom: 0;
    width: 100%; height: auto;
    padding-top: 20px;
    z-index: 4;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
}

#footer-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#toggle-footer {
    display: block;
    padding: 8px;
    width: 40px; height: 40px;
    position: absolute;
    top: -20px; left: 10%;
    border-radius: 100%;
    transition: opacity 0.3s, transform 0.5s;
    transform: rotate(270deg);
    background-color: #949292;
    opacity: 0.2;
    z-index: 5;
}

#toggle-footer:hover {
    cursor: pointer;
    opacity: 1;
}

.collapsed:hover {
    transform: translateY(90%);
}

.expanded {
    transform: translateY(0%);
}

.expanded #toggle-footer {
    opacity: 1;
    transform: rotate(90deg);
}

#footer-content a {
    font-size: 1.5em;
    color: #949292;
    background-color: black;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    padding: .5em;
    border-top: .5px solid #949292;
    border-bottom: .5px solid #949292;
}

#footer-content a:nth-child(4) {
    padding: 0;
    height: 54.3333px;
}

.logo {
    padding: 0;
    align-self: center;
    height: 100%; width: 100%;
}

/* Media Queries ---------------------------- */

@media (min-width: 500px) and (min-height: 700px) {
    main {
        grid-template-columns: 400px;
        grid-template-rows: auto 400px 1fr; 
    }

    #action-prompt-box {
        width: 70%;
        margin: 10% auto;
        height: 80%;
        padding: 4px;
        border-radius: 5px;
    
        grid-template-rows: 40px repeat(3, auto);
    }

    #close-action-prompt {
        padding-top: 15px;
        font-size: 50px;
    }

    #action-prompt-box,
    #action-prompt-box button {
        font-size: 1.5em;
    }

    .results li {
        height: 34px;
        width: 34px;
    }

    .results .quantity {
        font-size: .6em;
    }
}

@media (min-width: 600px) and (min-height: 800px) {
    main {
        grid-template-columns: 500px;
        grid-template-rows: auto 500px 1fr; 
    }

    #headings {
        font-size: 1em;
    }

    #action-prompt-box {
        grid-template-rows: 60px repeat(3, auto);
    }

    #close-action-prompt {
        padding-top: 20px;
    }

    .preview-drawer,
    .loot-drawer {
        padding: 5px;
    }

    .results li {
        height: 40px;
        width: 40px;
    }

    #stats-dpad {
        line-height: 2em;
        font-size: 1.5em;
    }
}

@media (min-width: 800px) and (min-height: 600px) {
    main {
        grid-template-columns: 500px 1fr;
        grid-template-rows: 1fr 500px; 
    }

    #map-wrapper,
    #stats-dpad {
        grid-row: 2 / 3;
    }

    #stats-dpad {
        height: 100%;
        border-top: none;
        border-left: 3px solid lightgray;
        padding: 20px 0 20px 40px;
        margin-left: 20px;
        text-align: left;

        flex-direction: column-reverse;
    }

    #dpad-wrapper {
        flex: 1;
        margin: 20px;
    }

    #dpad {
        width: 200px;
        height: 200px;
    }

    #turn-counter {
        text-align: left;
    }

    #footer-content {
        flex-direction: row;
    }
}

@media (min-width: 1150px) and (min-height: 750px) {
    main {
        grid-template-columns: 700px 1fr;
        grid-template-rows: 1fr 700px; 
    }

    #stats-dpad {
        font-size: 2em;
    }

    #dpad {
        width: 300px;
        height: 300px;
    }

    #action-prompt-box {
        font-size: 2em;
    }

    .results li {
        height: 60px;
        width: 60px;
        border-width: 4px;
    }

    #action-button {
        border-width: 14px;
    }
}